/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: #0a58ca;
  --accent-active: #fd7e14;
  --accent-hover: #0d6efd;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --gray-light: 229, 233, 240;
}

@font-face {
  font-family: "Gimlet Sans";
  font-weight: 300 900;
  src: url("/fonts/GimletSansVariable.woff2") format("woff2"),
       url("/fonts/GimletSansVariable.woff") format("woff");
}

@font-face {
  font-family: "Gimlet Sans UnMono";
  font-style: normal;
  font-weight: 300 800;
  src: url("/fonts/GimletSansUnMono_BETA.woff2") format("woff2");
}

@font-face {
  font-family: "Job Clarendon";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/JobClarendonText-Regular.woff2") format("woff2"),
       url("/fonts/JobClarendonText-Regular.woff") format("woff");
}

@font-face {
  font-family: "Job Clarendon";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/JobClarendonText-Bold.woff2") format("woff2"),
       url("/fonts/JobClarendonText-Bold.woff") format("woff");
}

@font-face {
  font-family: "Job Clarendon";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/JobClarendonText-Italic.woff2") format("woff2"),
       url("/fonts/JobClarendonText-Italic.woff") format("woff");
}

@font-face {
  font-family: "Job Clarendon";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/JobClarendonText-BoldItalic.woff2") format("woff2"),
       url("/fonts/JobClarendonText-BoldItalic.woff") format("woff");
}

body {
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  background-size: 100% 600px;
  color: rgb(var(--gray-dark));
  font-family: "Job Clarendon", serif;
  font-size: 1rem;
  font-variation-settings: "opsz" 12;
  line-height: 1.7;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
}

main {
  margin: auto;
  max-width: calc(100% - 2em);
  padding: 3em 1em;
  width: 720px;
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}

a:hover {
  color: var(--accent-hover);
  text-decoration: underline;
}

a:active {
  color: var(--accent-active);
  text-decoration: underline;
}

b,
strong {
  font-weight: 700;
}

blockquote {
  border-left: 0.25rem solid var(--accent);
  font-size: 1.333em;
  margin: 0;
  padding: 0 0 0 1.25rem;
}

button {
  background: var(--accent);
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.75rem 2rem;
}

button:hover:not(:disabled) {
  background: var(--accent-hover);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

code {
  background-color: rgb(var(--gray-light));
  border-radius: 0.125rem;
  padding: 0.125rem 0.3125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--black));
  font-family: "Gimlet Sans", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.5rem 0;
}

h1 {
  font-size: 2rem;
  font-variation-settings: "opsz" 32;
}

h2 {
  font-size: 1.75rem;
  font-variation-settings: "opsz" 28;
}

h3 {
  font-size: 1.5rem;
  font-variation-settings: "opsz" 24;
}

h4 {
  font-size: 1.2rem;
  font-variation-settings: "opsz" 19;
}

h5 {
  font-size: 1rem;
  font-variation-settings: "opsz" 16;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}


img {
  border-radius: 0.5rem;
  height: auto;
  max-width: 100%;
}

input,
textarea {
  background: var(--bg-page);
  border: 1px solid rgb(var(--gray-light));
  border-radius: 0.25rem;
  color: rgb(var(--gray-dark));
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.75rem;
  width: 100%;
}

input:focus,
textarea:focus {
  border-color: var(--accent);
  box-shadow: 0 0 0 0.1875rem rgba(var(--gray), 20%);
  outline: none;
}

label {
  color: rgb(var(--black));
  display: block;
  font-family: "Gimlet Sans", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 0.5rem 0;
}

p {
  margin-bottom: 1em;
}

pre {
  border-radius: 0.5rem;
  padding: 1.5em;
}

pre > code {
  all: unset;
}

table {
  width: 100%;
}

.brand-lockup {
  align-items: center;
  display: flex;
  gap: 0.5em;
}

.brand-lockup h2 {
  font-family: "Gimlet Sans UnMono", monospace;
  letter-spacing: 0.15em;
}

.brand-lockup h2 a,
.brand-lockup h2 span {
  letter-spacing: 0.15em;
}

.brand-lockup img {
  height: 2.5rem;
  margin-bottom: 0;
  margin-right: -0.375rem;
  margin-top: 0;
  width: auto;
}

.internal-links,
footer {
  font-family: "Gimlet Sans", sans-serif;
}

.prose p {
  margin-bottom: 2em;
}

.social-links {
  display: flex;
  gap: 1em;
}

.social-links a {
  color: rgb(var(--gray));
  display: flex;
  text-decoration: none;
}

.social-links a:hover {
  color: rgb(var(--gray-dark));
}

.sr-only {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

@media (max-width: 720px) {
  body {
    font-size: 1.125rem;
  }

  main {
    padding: 1em;
  }
}