---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const isHome = pathname === '/' || pathname === '';
---

<header>
	<nav>
		<div class="brand-lockup">
			<h2>
				<a href="/" class:list={{ 'disabled-link': isHome }}>{SITE_TITLE.toUpperCase()}</a>
			</h2>
		</div>
		<div class="internal-links">
			<HeaderLink href="/">home</HeaderLink>
			<HeaderLink href="/about">about</HeaderLink>
			<HeaderLink href="/contact">contact</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		background: white;
		box-shadow: 0 0.125rem 0.5rem rgb(var(--black), 5%);
		margin: 0;
		padding: 0 1em;
	}

	h2 {
		font-size: 1em;
		margin: 0;
	}

	h2 a,
	h2 a:link,
	h2 a:visited {
		border-bottom: none;
		padding: 0;
		text-decoration: none;
	}

	h2 a.disabled-link {
		cursor: default;
		pointer-events: none;
	}

	nav {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	nav a {
		border-bottom: 0.25rem solid transparent;
		color: rgb(var(--black));
		padding: 0.75em 0.5em 0.5em 0.5em;
		text-decoration: none;
	}

	nav a:hover:not(.active) {
		color: var(--accent);
	}

	nav a.active {
		border-bottom-color: var(--accent-active);
		text-decoration: none;
	}

	@media (max-width: 768px) {
		nav {
			flex-direction: column;
		}

		nav a {
			padding: 0em 0.5em 0em 0.5em;
		}

		.brand-lockup {
			padding-top: 0.25em;
		}

		.social-links {
			display: none;
		}
	}

	@media (min-width: 769px) and (max-width: 992px) {
		nav {
			margin: auto;
			max-width: 100%;
			width: 768px;
		}
	}
</style>
