---
import { Image } from 'astro:assets';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import logo from '/public/looptid-logo-transparent.png';

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const isHome = pathname === '/' || pathname === '';
---

<header>
	<nav>
		<div class="brand-lockup">
		<Image src={logo} alt="Looptid Microsystems Logo" loading="eager" />
		<h2>
			<a href="/" class:list={{ 'disabled-link': isHome }}>{SITE_TITLE.toUpperCase()}</a>
		</h2>
		</div>
		<div class="internal-links">
			<HeaderLink href="/">home</HeaderLink>
			<HeaderLink href="/about">about</HeaderLink>
			<HeaderLink href="/contact">contact</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		background: white;
		box-shadow: 0 0.125rem 0.5rem rgba(var(--black), 5%);
		margin: 0;
		padding: 0 1em;
	}

	nav {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	nav a {
		border-bottom: 0.25rem solid transparent;
		color: rgb(var(--black));
		padding: 0.75em 0.5em 0.5em 0.5em;
		text-decoration: none;
	}

	nav a:hover:not(.active) {
		color: var(--accent);
	}

	nav a.active {
		border-bottom-color: var(--accent-active);
		text-decoration: none;
	}

	h2 {
		display: flex;
		font-size: 1em;
		margin: 0;
	}

	h2 a {
		text-decoration: none;
	}

	h2 a.disabled-link {
		cursor: default;
		pointer-events: none;
	}

	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
